<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cart="http://typo3.org/ns/Extcode/Cart/ViewHelpers"
      xmlns:cartevents="http://typo3.org/ns/Extcode/CartEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="cart_form">
    <f:form id="event-date-{eventDate.uid}"
            class="add-to-cart-form"
            pageUid="{pid}"
            extensionName="Cart"
            pluginName="Cart"
            controller="Cart\Product"
            action="add"
            method="post"
            pageType="{f:if(condition:'{settings.addToCartByAjax}', then:'{settings.addToCartByAjax}', else:'')}"
            additionalAttributes="{data-ajax: '{f:if(condition: \'{settings.addToCartByAjax}\', then: \'1\', else: \'0\')}', data-type: 'eventDate', data-id: '{eventDate.uid}'}">
        <input type="hidden" name="tx_cart_cart[productType]" value="CartEvents">
        <input type="hidden" name="tx_cart_cart[eventDate]" value="{eventDate.uid}">

        <f:if condition="!{eventDate.event.formDefinition}">
            <f:then>
                <input class="form-control" type="text" value="1" name="tx_cart_cart[quantity]">
                <f:if condition="{eventDate.priceCategorized}">
                    <f:for each="{eventDate.priceCategories}" as="priceCategory">
                        <cartevents:form.priceCategorySelect
                                class="price-category-select form-control"
                                name="tx_cart_cart[priceCategory]"
                                eventDate="{eventDate}"
                                blank="{f:translate(key: 'tx_cartevents.price_category_select.choose')}" />
                    </f:for>
                </f:if>
                <input type="submit" class="btn btn-default" value="<f:translate key='tx_cartevents.plugin.form.submit' />">
            </f:then>
            <f:else>
                <input class="form-control" type="hidden" value="1" name="tx_cart_cart[quantity]">
                <f:if condition="{eventDate.priceCategorized}">
                    <f:then>
                        <cart:variable.set name="firstAvailablePriceCategory" value="{eventDate.firstAvailablePriceCategory.uid}" />
                        <cartevents:form.priceCategorySelect
                                class="price-category-select form-control"
                                name="tx_cart_cart[priceCategory]"
                                eventDate="{eventDate}"
                                blank="{f:translate(key: 'tx_cartevents.price_category_select.choose')}" />
                        <f:for each="{eventDate.priceCategories}" as="priceCategory">
                            <f:if condition="{priceCategory.available}">
                                <f:link.action class="btn btn-default event-date-price-category event-date-price-category-{priceCategory.uid}"
                                               style="display: {f:if(condition: '{cart:variable.get(name:\'firstAvailablePriceCategory\')} == {priceCategory.uid}', then: 'inline-block', else: 'none')};"
                                               pluginName="SingleEvent"
                                               action="form"
                                               arguments="{eventDate: eventDate, priceCategory: priceCategory}"
                                               data="{add-to-cart: 'form'}"
                                               pageType="{settings.ajaxCartEventDatesForm}"><f:translate key='tx_cartevents.plugin.form.submit' /></f:link.action>
                            </f:if>
                        </f:for>
                    </f:then>
                    <f:else>
                        <f:link.action class="btn btn-default"
                                       pluginName="SingleEvent"
                                       action="form"
                                       arguments="{eventDate: eventDate}"
                                       data="{add-to-cart: 'form'}"
                                       pageType="{settings.ajaxCartEventDatesForm}"><f:translate key='tx_cartevents.plugin.form.submit' /></f:link.action>
                    </f:else>
                </f:if>
            </f:else>
        </f:if>

        <div class="form-message" data-ajax-message-timeout="3000">
            <div class="form-success" style="display: none;" data-ajax-success-block>
                <div class="alert alert-success" data-ajax-success-message></div>
            </div>
            <div class="form-error" style="display: none;" data-ajax-error-block>
                <div class="alert alert-warning" data-ajax-error-message></div>
            </div>
        </div>
    </f:form>
</div>
</html>
