<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cart="http://typo3.org/ns/Extcode/Cart/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:section name="special-price">
    <span class="regular-price"><span class="price"></span></span>
    <span class="special-price">
        <span class="special-price"><span class="price"><cart:format.currency currencyTranslation="{currencyTranslationData.currencyTranslation}" currencySign="{currencyTranslationData.currencySign}">{specialPrice.price}</cart:format.currency></span></span>
        <span class="title">{specialPrice.title}</span>
        <span class="regular-price">bisher: <span class="price"><cart:format.currency currencyTranslation="{currencyTranslationData.currencyTranslation}" currencySign="{currencyTranslationData.currencySign}">{price}</cart:format.currency></span></span>
    </span>
</f:section>

<f:section name="regular-price">
    <span class="regular-price"><span class="price"><cart:format.currency currencyTranslation="{currencyTranslationData.currencyTranslation}" currencySign="{currencyTranslationData.currencySign}">{price}</cart:format.currency></span></span>
    <span class="special-price">
        <span class="special-price"><span class="price"></span></span>
        <span class="title"></span>
        <span class="regular-price"><span class="price"></span></span>
    </span>
</f:section>

<f:section name="price_categorized">
    <f:if condition="{priceCategory.bestPrice} < {priceCategory.price}">
        <f:then>
            <f:render section="special-price" arguments="{price: priceCategory.price, specialPrice: priceCategory.bestSpecialPrice}"/>
        </f:then>
        <f:else>
            <f:render section="regular-price" arguments="{price: priceCategory.price}"/>
        </f:else>
    </f:if>
</f:section>

<f:section name="price">
    <f:if condition="{eventDate.bestPrice} < {eventDate.price}">
        <f:then>
            <f:render partial="special-price" arguments="{price: eventDate.price, specialPrice: eventDate.bestSpecialPrice}"/>
        </f:then>
        <f:else>
            <f:render section="regular-price" arguments="{price: eventDate.price}"/>
        </f:else>
    </f:if>
</f:section>

<f:if condition="{eventDate.bookable}">
    <f:if condition="{eventDate.priceCategorized}">
        <f:then>
            <f:render section="price_categorized" arguments="{priceCategory: eventDate.firstAvailablePriceCategory}" />
        </f:then>
        <f:else>
            <f:render section="price" arguments="{eventDate: eventDate}" />
        </f:else>
    </f:if>
</f:if>
</html>
