<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cartevents="http://typo3.org/ns/Extcode/CartEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:for each="{eventDates}" as="eventDate">
    <div class="event-date-detail">
        <div class="row">
            <div class="medium-2 columns">
                <div class="date-day-month-year"><f:format.date format="d.m.Y">{eventDate.begin}</f:format.date></div>
            </div>

            <div class="medium-9 columns">
                <cartevents:link.event pluginName="Events" controller="Event" event="{eventDate.event}" settings="{settings}">
                    <div class="event-title"><h3>{eventDate.event.title} - {eventDate.title}</h3></div>
                </cartevents:link.event>
            </div>
            <div class="medium-1 columns">
                <cartevents:link.event pluginName="Events" controller="Event" event="{eventDate.event}" settings="{settings}">
                    <div class="event-detail-page"><f:translate key="tx_cartevents.more_link" /><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                </cartevents:link.event>
            </div>
        </div>
    </div>
</f:for>
</html>