<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cart="http://typo3.org/ns/Extcode/Cart/ViewHelpers"
      xmlns:cartevents="http://typo3.org/ns/Extcode/CartEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<cart:titleTag>
    <f:format.htmlentitiesDecode>{event.title}</f:format.htmlentitiesDecode>
</cart:titleTag>

<f:if condition="{event.metaDescription}">
    <f:then>
        <cart:metaTag property="description" content="{event.metaDescription -> f:format.stripTags() -> f:format.crop(maxCharacters: '150')}" />
    </f:then>
    <f:else>
        <f:if condition="{event.description}">
            <cart:metaTag property="description" content="{event.description -> f:format.stripTags() -> f:format.crop(maxCharacters: '150')}" />
        </f:if>
    </f:else>
</f:if>

<script type="application/ld+json">
<cartevents:schema event="{event}" />
</script>

<div class="event-wrapper">
    <div class="event-title"><h1>{event.title}</h1></div>

    <f:if condition="{event.images}">
        <f:image src="{event.firstImage.originalResource.originalFile.uid}"
                 title="{event.firstImage.originalResource.title}"
                 alt="{event.firstImage.originalResource.title}"
                 width="{settings.showAction.media.image.size.medium.maxWidth}"
                 height="{settings.showAction.media.image.size.medium.maxHeight}" />
    </f:if>

    <div class="event-description">
        <f:format.html>{event.description}</f:format.html>
    </div>
</div>

<f:if condition="{event.eventDates}">
    <div data-add-to-cart="result"></div>

    <div class="event-event-date-list">
        <f:for each="{event.eventDates}" as="eventDate">
            <div class="well event-event-date" data-uid="eventDate-{eventDate.uid}">
                <h2>{event.title} - {eventDate.title}</h2>

                <div class="date" data-uid="date-{date.uid}">
                    <f:format.date date="{eventDate.begin}" format="d.m.Y H:i" /> - <f:format.date date="{eventDate.end}" format="d.m.Y H:i" />
                </div>
                <f:for each="{eventDate.dates}" as="date">
                    <ul>
                        <div class="date" data-uid="date-{date.uid}">
                            <li><f:format.date date="{date.begin}" format="d.m.Y H:i" /> - <f:format.date date="{date.end}" format="d.m.Y H:i" /></li>
                        </div>
                    </ul>
                </f:for>

                <div>
                    <f:render partial="Event/Seats" arguments="{eventDate: eventDate}" />
                </div>
                <div class="event-date-price">
                    <f:render partial="Event/Price" arguments="{eventDate: eventDate}" />
                </div>

                <div class="event-event-date-form">
                    <f:if condition="{eventDate.bookable}">
                        <f:then>
                            <f:render partial="Event/CartForm" arguments="{eventDate: eventDate, pid: cartSettings.cart.pid}" />
                        </f:then>
                        <f:else>
                            <f:translate key="tx_cartevents_domain_model_eventdate.bookable.false" />
                        </f:else>
                    </f:if>
                </div>
            </div>
        </f:for>
    </div>
</f:if>
</html>
