<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cartevents="http://typo3.org/ns/Extcode/CartEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="event">
    <f:for each="{events}" as="event">
        <f:if condition="{event.category.cartEventShowPid}">
            <f:then>
                <cartevents:variable.set name="showPageUid" value="{event.category.cartEventShowPid}"/>
            </f:then>
            <f:else>
                <cartevents:variable.set name="showPageUid" value="{settings.showPageUids}"/>
            </f:else>
        </f:if>

        <div class="event-detail">
            <div class="row">
                <div class="medium-2 columns">
                    <div class="date-day-month-year"><f:format.date format="d.m.Y">{event.firstSlot.firstDate.begin}</f:format.date></div>
                </div>
                <div class="medium-8 columns">
                    <f:link.action pageUid="{cartevents:variable.get(name: 'showPageUid')}"
                                   action="show"
                                   arguments="{event: event}">
                        <div class="event-title"><h3>{event.title}</h3></div>
                    </f:link.action>
                    <div class="row item--content">
                        <f:if condition="{event.teaser}">
                            <div class="item--teaser-column">
                                <div class="description"><f:format.html>{event.teaser}</f:format.html></div>
                            </div>
                        </f:if>
                    </div>
                </div>
                <div class="medium-2 columns">
                    <f:link.action pageUid="{cartevents:variable.get(name: 'showPageUid')}"
                                   action="show"
                                   arguments="{event: event}">
                        <button class="button" type="button" name="button"><f:translate key="LLL:EXT:cart_events/Resources/Private/Language/Cart/locallang.xlf:dates.to_booking" /><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    </f:link.action>
                </div>
            </div>
        </div>
    </f:for>
</div>
</html>